* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Gilroy-Light', sans-serif;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  line-height: unset;
}

body button, body input, body textarea {
  outline: none;
  border-style: none;
}

body button:focus, body input:focus, body textarea:focus {
  outline: none;
}

body textarea {
  resize: none;
}

body a {
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body li {
  list-style-type: none;
}

.button {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 30px;
}

.button-c {
  background-color: #2a93fe;
  padding: 20px 65px;
}

.button-o {
  background-color: transparent;
  padding: 20px 85px;
  border-width: 2px;
  border-color: #2a93fe;
  border-style: solid;
}

.section-title {
  font-family: Gilroy;
  color: #191c23;
  font-size: 28px;
  font-weight: 700;
}

.section-subtitle {
  font-family: Gilroy-Light;
  color: #191c23;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}

.modal-dialog {
  width: 560px;
  max-width: 560px;
}

.modal-header {
  border-bottom: none;
  padding: 25px 20px 0px 0px;
}

.modal-header .close {
  color: #dedede;
  font-family: Gilroy-Light;
  font-weight: 700;
  line-height: 0px;
  font-size: 28px;
}

.modal-body {
  padding: 0px 10px 58px 10px;
}

.modal-body__buttons {
  margin-top: 40px;
}

.modal-body__buttons .button-o {
  font-family: Gilroy;
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 700;
  padding: 18px 25px;
  display: inline;
}

.modal-body__buttons .button-o span {
  text-transform: none;
}

.modal-body__buttons .button-c {
  font-family: Gilroy;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  display: inline;
  padding: 19px 67px;
}

.modal-title {
  font-family: Gilroy;
  color: #191c23;
  font-size: 20px;
  font-weight: 700;
  margin-top: 18px;
  text-align: center;
}

.modal-subtitle {
  margin-top: 16px;
  font-family: Gilroy-Light;
  color: #191c23;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.modal-input {
  margin-top: 36px;
  font-family: Gilroy-Light;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border-width: 2px;
  border-color: #eeeeee;
  border-style: solid;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  padding: 18px 47px;
}

.main {
  background-color: #191c23;
  position: relative;
}

.main::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(50% at 100% 51%);
  clip-path: circle(50% at 100% 51%);
  background-image: url(../images/main/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% 100%;
  opacity: .65;
}

.main-wrapper {
  padding: 39px 0px 130px 0px;
  position: relative;
}

.main-logo__logo {
  width: 155px;
  height: 36px;
  display: inline-block;
}

.main-logo__logo img {
  width: 155px;
  height: 36px;
}

.main-logo__text {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  vertical-align: top;
  text-align: left;
  margin-left: 25px;
}

.main-contacts a {
  color: #ffffff;
}

.main-contacts__email, .main-contacts__phone {
  font-size: 16px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  text-align: right;
  letter-spacing: 2px;
}

.main-contacts__email-txt, .main-contacts__phone-txt {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

.main-contacts__email {
  margin-top: 5px;
}

.main-contacts__phone {
  font-size: 22px;
}

.main-txt {
  padding-top: 145px;
}

.main-txt__title {
  font-family: Gilroy;
  font-size: 31px;
  font-weight: 700;
  text-align: left;
}

.main-txt__subtitle {
  margin-top: 24px;
  margin-bottom: 56px;
  font-family: Gilroy-Light;
  color: #cfcfcf;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
}

.main-txt__subtitle span {
  font-family: Gilroy;
}

.main-txt__pros-block {
  margin-bottom: 49px;
}

.main-txt__pros-txt {
  display: inline-block;
  padding-left: 24px;
  font-family: Gilroy;
  color: #cfcfcf;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
}

.main-txt__pros-logo {
  width: 2px;
  height: 32px;
  display: inline-block;
}

.main-txt__pros img {
  vertical-align: top;
}

.main-products__circle {
  border-radius: 50%;
  background-color: #191c23;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.main-products__circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -88px;
  margin-top: -72px;
}

.main-products__items {
  text-align: left;
  margin-top: 39px;
  margin-left: 39px;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

.main-products__items li {
  margin-top: 15px;
}

.main-buttons {
  margin-top: 59px;
}

.main-buttons .button-o {
  margin-left: 20px;
}

.main-caption {
  margin-top: 136px;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 700;
  color: #3e4046;
  text-align: left;
  letter-spacing: 2px;
}

.conditions {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  background-color: #2a2d36;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  padding: 55px 98px;
}

.conditions-wrapper {
  position: relative;
}

.conditions-title {
  margin-bottom: 35px;
  font-family: Gilroy;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
}

.conditions-item {
  position: relative;
  z-index: 0;
}

.conditions-item::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #282b34;
  z-index: -1;
}

.conditions-item__title {
  margin-bottom: 20px;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.conditions-item__number {
  margin-bottom: 29px;
  font-family: Gilroy;
  color: #0d7ff3;
  font-size: 42px;
  font-weight: 700;
}

.conditions-item__text {
  font-family: Gilroy-Light;
  color: #c9c9cc;
  font-size: 14px;
  font-weight: 300;
}

/********************************/
.prices {
  padding: 370px 0px 130px 0px;
  position: relative;
}

.prices::before {
  position: absolute;
  content: '';
  bottom: -100px;
  left: 50%;
  margin-left: -543px;
  width: 1086px;
  height: 443px;
  border-radius: 60% 60% 0 0 / 100% 100% 0 0;
  background-color: #fafafa;
}

.prices-conditions {
  margin-top: 88px;
  text-align: center;
}

.prices-conditions__item-circle {
  border-radius: 50%;
  background-color: #228efb;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.prices-conditions__item-circle img {
  width: 64px;
  margin-top: 35%;
}

.prices-conditions__item-txt {
  margin-top: 30px;
  font-family: Gilroy;
  color: #191c23;
  font-size: 16px;
  font-weight: 700;
}

.calculations {
  padding: 100px 0px 120px 0px;
  background-color: #f5f5f5;
  position: relative;
  z-index: 0;
}

.calculations-form {
  margin-top: 57px;
  padding: 23px 59px;
  text-align: left;
}

.calculations-form::before {
  position: absolute;
  content: '';
  top: 27%;
  left: 0%;
  width: 100%;
  height: 90%;
  background-color: #f5f5f5;
  background-image: url(../images/form/square.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.calculations-form__select {
  margin-right: 20px;
}

.calculations-form__select label {
  margin-bottom: 20px;
}

.calculations-form__time label {
  margin-bottom: 20px;
}

.calculations-form__footer {
  margin-top: 83px;
}

.calculations-form__button .button {
  padding: 20px 55px;
}

.calculations-form__square input, .calculations-form__baget input, .calculations-form__square label, .calculations-form__baget label, .calculations-form__time label, .calculations-form__time input {
  display: block;
}

.calculations-form label {
  text-align: left;
  font-family: Gilroy-Light;
  color: #191c23;
  font-size: 14px;
  font-weight: 300;
}

.calculations-form__time input {
  border-radius: 30px;
  text-align: center;
  background-color: rgba(236, 236, 236, 0.7);
  padding: 12px 0px;
  font-family: Gilroy;
  color: #2a2d36;
  font-size: 16px;
  font-weight: 700;
}

.calculations-form__square input, .calculations-form__baget input {
  width: 100%;
  margin-top: 25px;
  background-color: #e5e5e5;
}

.calculations-form__square input[type="range"], .calculations-form__baget input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

.calculations-form__square input[type="range"]:focus, .calculations-form__baget input[type="range"]:focus {
  outline: none;
}

.calculations-form__square input[type="range"]::-webkit-slider-runnable-track, .calculations-form__baget input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #e5e5e5;
}

.calculations-form__square input[type="range"]::-webkit-slider-thumb, .calculations-form__baget input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  background-color: #2790fb;
  -webkit-box-shadow: 0px 5px 29px 0px #2891fb;
          box-shadow: 0px 5px 29px 0px #2891fb;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.calculations-form__square input[type="range"]::-moz-range-track, .calculations-form__baget input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.calculations-form__square input[type="range"]::-moz-range-thumb, .calculations-form__baget input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.calculations-form__square input[type="range"]::-ms-track, .calculations-form__baget input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.calculations-form__square input[type="range"]::-ms-fill-lower, .calculations-form__baget input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.calculations-form__square input[type="range"]::-ms-fill-upper, .calculations-form__baget input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.calculations-form__square input[type="range"]::-ms-thumb, .calculations-form__baget input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.calculations-form__square input[type="range"]:focus::-ms-fill-lower, .calculations-form__baget input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}

.calculations-form__square input[type="range"]:focus::-ms-fill-upper, .calculations-form__baget input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

.calculations-form__square {
  margin-top: 81px;
}

.calculations-form select {
  display: block;
  margin-top: 7px;
  border: none;
  background-color: transparent;
  font-family: Gilroy;
  color: #2a2d36;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.tz, .project {
  padding-top: 132px;
  padding-bottom: 50px;
}

.tz-doc, .project-doc {
  border-radius: 50%;
  background-color: #fafafa;
  width: 500px;
  height: 500px;
  position: relative;
  z-index: 0;
}

.tz-doc__paper, .tz-doc__upload, .project-doc__paper, .project-doc__upload {
  position: relative;
  width: 100%;
  height: 570px;
}

.tz-doc__paper img, .tz-doc__upload img, .project-doc__paper img, .project-doc__upload img {
  width: 708px;
  position: absolute;
  top: 5%;
  left: -15%;
}

.tz-doc__paper-txt, .tz-doc__upload-txt, .project-doc__paper-txt, .project-doc__upload-txt {
  position: absolute;
  bottom: 20%;
  left: 55%;
  margin: 0 auto;
  font-family: Gilroy-Light;
  color: #b4b4b4;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
}

.tz-doc__paper-txt::before, .tz-doc__upload-txt::before, .project-doc__paper-txt::before, .project-doc__upload-txt::before {
  position: absolute;
  content: '';
  margin-top: -55%;
  left: -15%;
  border-radius: 50%;
  background-color: #2a2d36;
  -webkit-box-shadow: 0px 5px 29px 0px rgba(42, 147, 254, 0.05);
          box-shadow: 0px 5px 29px 0px rgba(42, 147, 254, 0.05);
  width: 280px;
  height: 280px;
  z-index: -1;
}

.tz-txt .section-subtitle, .project-txt .section-subtitle {
  margin-top: 25px;
  line-height: 24px;
}

.tz-txt .button, .project-txt .button {
  padding: 22px 105px;
  font-family: Gilroy;
  letter-spacing: 2px;
  margin-top: 63px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.project {
  padding-bottom: 130px;
  padding-top: 100px;
  position: relative;
}

.project::before {
  position: absolute;
  content: '';
  background-color: #fafafa;
  -webkit-clip-path: circle(35.6% at 74% 65%);
  clip-path: circle(37.6% at 74% 65%);
  top: -16%;
  left: 0;
  width: 100%;
  height: 116%;
}

.project-txt .button {
  padding: 20px 65px;
}

.project-doc {
  margin: 0 0 0 auto;
  background-color: #f5f5f5;
}

.project-doc__upload-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: Gilroy-Light;
  color: #b4b4b4;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
}

.project-doc__upload-block::before {
  position: absolute;
  content: '';
  margin-top: 0;
  left: 45px;
  top: 45px;
  border-radius: 50%;
  border-width: 1px;
  border-color: #d0d0d0;
  border-style: dashed;
  width: 409px;
  height: 409px;
  background-color: #f5f5f5;
  z-index: -1;
}

.project-doc__upload-block input.inputfile {
  width: 300px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin-top: 260px;
  margin-left: -120px;
}

.project-doc__upload-block input.inputfile::before {
  position: absolute;
  content: '';
  width: 120px;
  height: 100%;
  background-color: #f5f5f5;
  left: 0;
  top: 0;
}

.project-doc__upload-block .inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: transparent;
  background-image: url(../images/tz/folder.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 120px;
  height: 102px;
  display: inline-block;
  margin-top: 166px;
}

.project-doc__upload-block .inputfile:focus + label,
.project-doc__upload-block .inputfile + label:hover {
  cursor: pointer;
}

.project-doc__upload-txt, .project-doc__upload img {
  position: unset;
  bottom: unset;
  left: unset;
}

.project-doc__upload-txt {
  margin-top: 10px;
  color: #656565;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.project-doc__upload-txt::before {
  content: none;
}

.personal {
  padding-top: 91px;
  padding-bottom: 94px;
  position: relative;
  background-color: #191c23;
  background-image: url(../images/personal/personal-img.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60% 78%;
}

.personal::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: #1b1e25;
  -webkit-clip-path: circle(50% at 22% 98%);
  clip-path: circle(50% at 8% 98%);
}

.personal .section-title {
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 17px;
}

.personal .section-subtitle {
  color: #dadada;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.personal .section-subtitle:first-child {
  margin-top: 39px;
}

.personal-txt {
  margin-top: 19px;
  font-family: Gilroy-Light;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

.personal-features {
  margin-top: 44px;
}

.personal-features__item {
  margin-bottom: 38px;
}

.personal-features__item-txt {
  display: inline-block;
  margin-left: 22px;
  font-family: Gilroy-Light;
  color: #b4b4b4;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.personal-features__item-txt span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.personal-features__item img {
  height: 32px;
  width: 32px;
  vertical-align: baseline;
  position: relative;
}

.personal-features .col-6:first-child img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.personal .button {
  margin-top: 45px;
  padding: 22px 60px;
}

.about {
  padding-top: 127px;
  padding-bottom: 368px;
  position: relative;
}

.about::before {
  position: absolute;
  content: '';
  top: 2%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  -webkit-clip-path: circle(49.7% at 94% 51%);
  clip-path: circle(49.7% at 94% 51%);
}

.about .section-title {
  padding-right: 40px;
}

.about-items {
  margin-top: 71px;
}

.about-items__title {
  font-family: Gilroy;
  color: #191c23;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

.about-items__subtitle {
  margin-top: 26px;
  font-family: Gilroy-Light;
  color: #191c23;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.about-items__img {
  width: 398px;
  height: 338px;
}

.about-items__img img {
  width: 398px;
  height: 398px;
  overflow-y: hidden;
}

.about-items .img-left {
  position: relative;
  width: 440px;
}

.about-items .img-left img {
  position: absolute;
  top: 0;
  left: -42px;
}

.contact-form {
  margin-top: 170px;
  padding-top: 87px;
  padding-bottom: 100px;
  background-color: #2a2d36;
  position: relative;
}

.contact-form::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282b34;
  -webkit-clip-path: circle(50% at 0 125%);
  clip-path: circle(50% at 0 125%);
}

.contact-form .section-title {
  color: #ffffff;
}

.contact-form .section-subtitle {
  color: #dadada;
  margin-top: 25px;
}

.contact-form__input {
  margin-top: 47px;
  font-family: Gilroy-Light;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
  text-align: center;
  border-width: 2px;
  border-color: #3b3e46;
  border-style: solid;
  border-radius: 30px;
  padding: 18px 57px;
}

.contact-form__buttons {
  margin-top: 55px;
}

.contact-form__buttons button {
  display: inline-block;
}

.contact-form__buttons .button-c {
  margin-right: 20px;
  padding: 20px 87px;
}

.contact-form__buttons .button-o {
  text-transform: uppercase;
  padding: 20px 70px;
  color: #7b7b7b;
}

.contact-form__buttons .button-o span {
  text-transform: none;
}

.contact-form__onright {
  position: absolute;
  bottom: -100px;
  right: 0;
  height: 100%;
  width: 50%;
}

.contact-form__onright-txt, .contact-form__onright-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact-form__onright-txt {
  padding-top: 60px;
  right: 6%;
  width: 284px;
  height: 142px;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  background-color: #191c23;
  -webkit-box-shadow: 0px 5px 29px 0px rgba(42, 147, 254, 0.13);
          box-shadow: 0px 5px 29px 0px rgba(42, 147, 254, 0.13);
  font-family: Gilroy-Light;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.team {
  padding-top: 130px;
  padding-bottom: 200px;
}

.team-img {
  z-index: 0;
}

.team-img::before {
  position: absolute;
  content: '';
  width: 300px;
  height: 300px;
  top: 3%;
  margin-left: -150px;
  left: 50%;
  border-radius: 50%;
  background-color: #f6f6f6;
  z-index: -1;
}

.team-img__wrapper::before {
  position: absolute;
  content: '';
  width: 600px;
  height: 600px;
  top: -47%;
  margin-top: 50px;
  margin-left: -15px;
  left: 0;
  border-radius: 50%;
  background-color: #fbfbfb;
  z-index: -1;
}

.team-button {
  padding: 20px 125px;
}

.team-members {
  margin-top: 86px;
}

.team-members .row {
  margin-top: 210px;
}

.team-member__title {
  font-family: Gilroy-Light;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
}

.team-member__subtitle {
  font-family: Gilroy;
  color: #2a2d36;
  font-size: 16px;
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 48px;
}

.team-member__txt-title {
  font-family: Gilroy-Light;
  color: #b4b4b4;
  font-size: 14px;
  font-weight: 300;
  margin-top: 19px;
}

.team-member__txt-subtitle {
  font-family: Gilroy-Light;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 36px;
  margin-top: 16px;
}

.floors {
  padding: 100px 0px;
  position: relative;
  background-color: #191c23;
  background-image: url(../images/floors/floors-img.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60% 78%;
}

.floors::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 109%;
  background-color: #1b1e25;
  -webkit-clip-path: circle(50% at 22% 98%);
  clip-path: circle(50% at 6% 98%);
}

.floors .section-title {
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 60px;
}

.floors-txt {
  margin-top: 63px;
  font-family: Gilroy-Light;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.floors-features {
  margin-top: 44px;
  color: #dadada;
}

.floors-features ul {
  padding-left: 0;
}

.floors-features ul li {
  width: 240px;
  border-radius: 30px;
  height: 40px;
  font-family: Gilroy-Light;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 43px;
  color: #cfcfcf;
}

.offer {
  padding-top: 130px;
  padding-bottom: 160px;
  position: relative;
}

.offer::before {
  position: absolute;
  content: '';
  top: 35%;
  left: 15%;
  width: 70%;
  height: 140%;
  background-color: #f6f6f6;
  -webkit-clip-path: circle(50% at 50% 100%);
  clip-path: circle(50% at 50% 100%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.offer .section-title {
  margin-bottom: 80px;
}

.offer-item {
  padding: 40px 40px 0px 40px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 5px 29px 0px rgba(152, 152, 152, 0.3);
          box-shadow: 0px 5px 29px 0px rgba(152, 152, 152, 0.3);
  width: 100%;
}

.offer-items {
  width: 100%;
  position: relative;
}

.offer-items .col-4:nth-child(2) .offer-item {
  position: absolute;
  top: -2%;
  z-index: 2;
}

.offer-item__header {
  padding-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
}

.offer-item__header-title {
  font-family: Gilroy;
  color: #191c23;
  font-size: 18px;
  font-weight: 700;
}

.offer-item__header-subtitle {
  font-family: Gilroy-Light;
  color: #191c23;
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
}

.offer-item__body {
  padding-top: 40px;
}

.offer-item__body-title {
  font-family: Gilroy;
  color: #2a93fe;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.offer-item__body-subtitle {
  margin-top: 16px;
  margin-bottom: 46px;
  font-family: Gilroy-Light;
  color: #191c23;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.offer button {
  margin-top: 88px;
  padding: 20px 40px;
}

.pricelist-form {
  padding: 0px 0px 0px 0px;
  background-color: #2a2d36;
  position: relative;
}

.pricelist-form::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282b34;
  -webkit-clip-path: circle(50% at 0 125%);
  clip-path: circle(50% at 0 125%);
}

.pricelist-form__wrapper {
  position: relative;
}

.pricelist-form__wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: ellipse(54% 70% at 100% 50%);
  clip-path: ellipse(40% 85% at 100% 50%);
  background-image: url(../images/pricelist-form/pricelist-form__bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% 100%;
  opacity: .65;
}

.pricelist-form .section-title {
  color: #ffffff;
  margin-top: 100px;
}

.pricelist-form .section-subtitle {
  color: #dadada;
  margin-top: 31px;
}

.pricelist-form__buttons {
  margin-top: 63px;
  margin-bottom: 140px;
}

.pricelist-form__buttons .button-o {
  padding: 20px 120px;
}

.pricelist-form__buttons .button-c {
  padding: 20px 56px;
  margin-left: 20px;
}

.pricelist-form__logos {
  position: absolute;
  right: 0;
  top: -10%;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 29px 0px rgba(152, 152, 152, 0.3);
          box-shadow: 0px 5px 29px 0px rgba(152, 152, 152, 0.3);
  width: 210px;
  height: 119%;
  padding: 60px 50px;
  text-align: center;
  z-index: 1;
}

.pricelist-form__logos img {
  margin-bottom: 46px;
}

.map {
  background-color: #191c23;
  height: 700px;
  position: relative;
}

.map-title {
  margin-top: 400px;
  margin-bottom: 40px;
  font-family: Gilroy-Light;
  color: #2a2d36;
  font-size: 18px;
  font-weight: 300;
}

.map-phone .col-10 {
  padding-top: 2px;
}

.map-address, .map-phone, .map-email {
  font-family: Gilroy;
  color: #2a2d36;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 24px;
}

.map-address a, .map-phone a, .map-email a {
  color: #2a2d36;
}

.map-address img, .map-phone img, .map-email img {
  margin-right: 25px;
}

.map::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-clip-path: circle(50% at 0 110%);
  clip-path: circle(50% at 0 110%);
}

.footer {
  padding: 58px 0px 100px 0px;
}

.footer-info {
  margin-top: 130px;
}

.footer-info__title, .footer-info__txt {
  font-family: Gilroy;
  color: #191c23;
  font-size: 14px;
  font-weight: 700;
}

.footer-info__txt {
  font-family: Gilroy-Light;
  margin-top: 10px;
}

.footer-politics {
  font-family: Gilroy-Light;
  color: #b4b4b4;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  margin-top: 38px;
}

.footer-link {
  font-family: Gilroy-Light;
  color: #191c23;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}

.footer-link a {
  color: #2a93fe;
}

.footer-img {
  width: 526px;
  height: 477px;
  margin: 0 auto;
  margin-right: 0;
  position: relative;
}

.footer-img img {
  z-index: -1;
  width: 100%;
}

.footer-img .button {
  padding: 22px 60px;
  position: absolute;
  top: 50%;
  left: 20%;
}

@media (min-width: 758px) {
  .button:hover {
    -webkit-box-shadow: 0px 5px 29px 0px rgba(40, 145, 251, 0.4);
            box-shadow: 0px 5px 29px 0px rgba(40, 145, 251, 0.4);
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
  }
  .button-c:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 29px 0px rgba(40, 145, 251, 0.4);
            box-shadow: 0px 5px 29px 0px rgba(40, 145, 251, 0.4);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
  }
  .main-contacts__email a:hover, .main-contacts__phone a:hover {
    color: #2a93fe;
  }
  .prices-conditions__item-circle:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 29px 0px rgba(40, 145, 251, 0.55);
            box-shadow: 0px 5px 29px 0px rgba(40, 145, 251, 0.55);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
  }
  .prices-conditions__item-txt:hover {
    cursor: pointer;
    color: #2a93fe;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  .team-button:hover {
    color: #ffffff;
  }
  .floors-features li:hover {
    background-color: #2a93fe;
    -webkit-box-shadow: 0px 5px 29px 0px rgba(40, 145, 251, 0.35);
            box-shadow: 0px 5px 29px 0px rgba(40, 145, 251, 0.35);
    padding: 10px 0px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color, text-align, padding .3s, -webkit-box-shadow;
    transition: color, text-align, padding .3s, -webkit-box-shadow;
    transition: color, text-align, box-shadow, padding .3s;
    transition: color, text-align, box-shadow, padding .3s, -webkit-box-shadow;
  }
  .map-address a:hover, .map-phone a:hover, .map-email a:hover {
    color: #2a93fe;
    -webkit-transition: color .3;
    transition: color .3;
  }
  .footer-link a:hover {
    color: #0056b3;
    text-decoration: underline;
    -webkit-transition: color .3;
    transition: color .3;
  }
  .footer-politics:hover {
    color: #191c23;
    cursor: pointer;
    -webkit-transition: color .3;
    transition: color .3;
  }
  .footer-img a:hover {
    color: #ffffff;
  }
}
/*# sourceMappingURL=styles.css.map */