.floors
  padding: 100px 0px
  position: relative
  background-color: $indigo
  background-image: url(../images/floors/floors-img.png)
  background-repeat: no-repeat
  background-position: top right
  background-size: 60% 78%

  .section
    &-title
      line-height: 32px
      color: $white
      margin-bottom: 60px

    

  &-txt
    margin-top: 63px
    font-family: Gilroy-Light
    color:  #dadada
    font-size: 14px/* Приближение из-за подстановки шрифтов */
    font-weight: 300
    line-height: 24px/* Приближение из-за подстановки шрифтов */
    
  &-features
    margin-top: 44px
    color: #dadada
    ul 
      
      padding-left: 0
      li
        width: 240px
        border-radius: 30px
        height: 40px
        font-family: Gilroy-Light
        font-size: 16px/* Приближение из-за подстановки шрифтов */
        font-weight: 300
        margin-bottom: 43px
        color:  #cfcfcf


    

