.modal
  &-dialog 
    width: 560px
    max-width: 560px
  &-header
    border-bottom: none
    padding: 25px 20px 0px 0px
    .close 
      color: #dedede
      font-family: Gilroy-Light
      font-weight: 700
      line-height: 0px
      font-size: 28px

  &-body
    padding: 0px 10px 58px 10px
    &__buttons
      margin-top: 40px
      .button-o
        font-family: Gilroy
        color:  #a0a0a0
        font-size: 12px/* Приближение из-за подстановки шрифтов */
        font-weight: 700
        padding: 18px 25px
        display: inline
        // margin-left: 20px
        span 
          text-transform: none

      .button-c
        font-family: Gilroy
        color:  $white
        font-size: 12px/* Приближение из-за подстановки шрифтов */
        font-weight: 700
        display: inline
        padding: 19px 67px
    


  &-title
    font-family: Gilroy
    color:  #191c23
    font-size: 20px/* Приближение из-за подстановки шрифтов */
    font-weight: 700
    margin-top: 18px
    text-align: center


  &-subtitle
    margin-top: 16px
    font-family: Gilroy-Light
    color:  #191c23
    font-size: 18px/* Приближение из-за подстановки шрифтов */
    font-weight: 300
    
    text-align: center

  &-input 
    margin-top: 36px
    font-family: Gilroy-Light
    color:  #a0a0a0
    font-size: 14px/* Приближение из-за подстановки шрифтов */
    font-weight: 300
    
    text-align: center
    border-width: 2px
    border-color:  #eeeeee
    border-style: solid
    border-radius: 30px
    width: 220px
    height: 50px
    padding: 18px 47px

     

